#redirect all traffic to index.php page
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /article.php [L,QSA]
#canonical
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?lipsed\.ru
RewriteRule ^(.*)$ https://www.lipsed.ru/$1 [R,L]
RewriteCond %{HTTP_HOST} ^lipsed.ru [NC]
RewriteRule ^(.*)$ https://www.lipsed.ru/$1 [L,R=301]
